/build/
/GPATH
/GRTAGS
/GTAGS
/ext/
/debug/
/static/
/dsa-seahorn/
/crab-llvm/

*.pyc
*.pyo
/llvm-seahorn/
/seahorn-llvm/
/gtags.files

.DS_Store
*.pdf
*.tex
*.pptx
/docs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
